.disabled {
  background-color: #787878;
}

.correction-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  color: red;
}

.editedable {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 103px;
  border: 2px solid #787878;
}

.hide {
  display: none;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-position {
  text-align: right;
  width: 20px;
}

.user-points {
  width: 20px;
  text-align: right;
}
