.input-field {
  color: black;
}

.input-field option {
  color: black;
}

.title-weeks {
  display: flex;
  flex-direction: column;
}

.create-new-round {
  display: flex;
}

.title-column {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 16px;
}

.input-column {
  display: flex;
  flex-direction: column;
  height: 25px;
}
