.roundsdisplay_main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roundsdisplay_table-content {
  width: 80%;
}

.roundsdisplay_rounds-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-radius: 5px;
  border-width: 3px;
  border-color: #efefef;
  &:hover {
    background-color: #c0c0c0;
    cursor: pointer;
  }
}

.roundsdisplay_confirmation-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #00000033;
  z-index: 1000; /* Ensure it appears on top of other content */
}

.roundsdisplay_confirmation-buttons--btndiv {
  display: flex;
  gap: 10px;
}


.roundsdisplay_list-button {
  display: flex;
  gap: 4px;
}

.roundsdisplay_form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the overlay is above other content */
}

.active{
border-color: blueviolet;
}