.round-title {
  width: 70px;
}

.input-field {
  color: black;
}

.input-field option {
  color: black;
}

.title-weeks {
  display: flex;
  flex-direction: column;
}

.create-new-round {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.title-column {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-label {
  font-size: 16px;
}

.input-column {
  display: flex;
  flex-direction: column;
  height: 25px;
}

.round-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.round-input-field {
  font-family: "Poppins", sans-serif;
  min-width: 60px;
  font-size: 16px;
  border: 2px solid #787878;
  border-radius: 5px;
  text-align: center;
}
